%% -*- mode: Erlang; -*-
%% vim: set filetype=erlang:

%%%
%%% eppi config
%%%
[
    {eppi,
        [
            % Pypi url
            {pypi_url, "https://pypi.python.org/simple/"},
            % Packages location
            {packages_dir, "./packages"},
            % Packages to download first
            {packages, []},
            % Check new packages in file system every N milliseconds
            {new_packages_check_period, 60000},
            % Check new packages no more often than N milliseconds
            {min_interval_between_checks, 1000},
            % Http port
            {http_port, 7890}
        ]
    },

    {lager, [
        {handlers, [
            {lager_console_backend, [info,
                {lager_default_formatter, [
                    %time," [",severity,"] ", pid, " (", module,"::", function, ") : ", message, "\n"]
                    time," [",severity,"] ", pid, " ", message, "\n"]
                }]}
        ]}
    ]}
].
