%% -*- mode: Erlang; -*-
%% vim: set filetype=erlang:

%%%
%%% eppi config
%%%
[
    {eppi,
        [
            % Packages location
            {packages_dir, "./packages-2"},
            % Pypi url
            {pypi_url, "https://pypi.python.org/simple/"},
            % Http port
            {http_port, 7891}
        ]
    }
].
